* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

:root {
  --font-family-footer: "Open Sans", sans-serif;
  --back-ground: #2e80ce;
  --font-color: #10375c;
}
/* ====================common========================= */

.btn {
  text-decoration: none;
  width: 205px;
  min-width: 104px;
  height: 60px;
  border-radius: 30px;
  background: #2e80ce;
  padding: 15px 46px;
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.66;
}

.contain {
  width: 1170px;
  min-width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
h2.heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.services__desc {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66;
  margin-top: 18px;
}

/* ====================header========================= */

header {
  background: #10375c;
  padding: 38px 0 110px;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
}

nav .nav__item .nav__link {
  text-decoration: none;
  padding: 8px 21px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  position: relative;
}
nav .nav__item .nav__link.active,
nav .nav__item .nav__link:hover {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}

nav .nav__item .nav__link.active::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 8px;
}

.btn-log-in {
  text-decoration: none;
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  margin-right: 28px;
  padding: 8px 21px;
}

.btn-sign-up {
  width: 104px;
  height: 44px;
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.75;
}

header section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 84px;
}
.hero__content {
  width: 44%;
}
.hero__media {
  width: 56%;
  display: flex;
  padding-left: 113px;
}

.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.4px;
}
.hero__desc {
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66;
  margin-top: 22px;
}
.hero__content .action {
  display: flex;
  margin-top: 38px;
  align-items: center;
}
.hero__content .desc-call {
  margin-left: 38px;
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.66;
}

.hero__img--large {
  width: 330px;
  height: 540px;
  border-radius: 6px;
  object-fit: cover;
}
.hero__img--small {
  width: 210px;
  height: 410px;
  border-radius: 0 6px 6px 0;
  object-fit: cover;
  position: relative;
  top: 65px;
}
/* ====================services==================== */
.services {
  padding: 170px 0;
}

.service-top {
  text-align: center;
}

.services .services__desc {
  width: 468px;
  margin-left: auto;
  margin-right: auto;
}

.services__content {
  display: flex;
  margin-top: 70px;
}
.services__img {
  width: 49%;
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}
.services__list {
  width: 51%;
  padding: 35px 0 36px 130px;
}

.services__item {
  display: flex;
  width: 470px;
  height: 128px;
  border-radius: 10px;
  background: #fff;
  padding: 21px 18px 20px 22px;
  transition: 0.25s;
}

.services__item:hover {
  box-shadow: 0 14px 28px 0 rgba(36, 2, 2, 0.05);
  position: relative;
}

.services__item:hover .services-icon {
  background-color: var(--back-ground);
  color: #fff;
}

.services-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #eff6fd;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 19px;
  color: var(--font-color);
  transition: 0.25s;
}
.services__title--highlighted {
  color: var(--font-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
}

.sevices__desc--highlighted {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  margin-top: 8px;
}

.services__btn {
  display: inline-block;
  margin-top: 55px;
}
